@font-face {
  font-family: 'myFontMirra';
  src: url('../fonts/Mirra.otf');
}

.form-title {
    font-family: 'myFontMirra'
}

h2, p {
    color: rgba(214, 215, 210, 1);
}

.overlay {
	width: 500px;
	padding: 50px;
	text-align: center;
	border-radius: 10px;
	box-shadow: 1px 5px 40px  rgba(114, 121, 88, 1);
}

.popup {
    display: flex;
    justify-content: center;
    align-items: center;
	width: 1600px;
	height: 700px;
	border-top: 1px solid rgba(40, 49, 6, 0);
	background-image: url(../images/fon.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.form-input-change-password, .form-input-reset-password {
	border: none;
	margin-bottom: 10px;
	width: 300px;
	height: 30px;
	border: 2px solid rgba(114, 121, 88, 1);
	border-radius: 10px;
    background: transparent;
    color: rgba(214, 215, 210, 1);
}

input::placeholder {
    font-weight: bold;
    opacity: 1;
    color: rgba(202, 208, 183, 1);
}

.password-change {
	text-align: center;
	width: 220px;
	padding: 10px;
	background-color: rgba(114, 121, 88, 1);
	border: none;
	border-radius: 10px;
	margin-top: 5px;
    color: rgba(202, 208, 183, 1);
}

.password-change:hover {
	background-color: rgba(209, 216, 184, 1);
    color: rgba(40, 49, 6, 1);
    border-radius: 10px;
}