@font-face {
  font-family: 'myFontMirra';
  src: url('../fonts/Mirra.otf');
}

.title {
    color: rgba(114, 121, 88, 1);
    padding-left: 5px;
}

.name-photo {
    display: flex;
    gap: 50px;
}

.user-photo {
    object-fit: cover;
    width: 200px;
    height: 200px;
    clip-path: ellipse(100px 100px at 50% 50%);
    border: 2px solid rgba(40, 49, 6, 1);
    position: relative;
    top: 60px; left: 20px;
}

.user-name {
    position: relative;
    top: 210px; left: 0;
    font-family: 'myFontMirra';
}

.popup {
	width: 1600px;
	height: 850px;
	display: flex;
}

.menu-profile {
    margin: 10px 0 0 20px;
	text-align: start;
    border-radius: 10px;
    box-shadow: 30px 10px 40px  rgba(114, 121, 88, 0.3);
}

.menu {
    width: 200px;
}

.overlay {
    margin: 10px 0 0 50px;
	width: 1150px;
	padding: 50px;
	text-align: center;
	background-image: url(../images/profile-hat.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	border-radius: 10px;
	box-shadow: 30px 10px 40px  rgba(114, 121, 88, 0.3);
	display: grid;
    grid-template-rows: 35% 10% 55%;
}

.form-profile {
    display: grid;
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 350px;
    justify-content: center;
    align-content: end;
}

.label-form {
    font-size: 10pt;
    color: rgba(88, 88, 88, 1);
    height: 5px;
}

.form-input-profile {
	border: none;
	width: 300px;
	height: 30px;
	border: 2px solid rgba(114, 121, 88, 1);
	border-radius: 10px;
    background: transparent;
}

.form-date-birth {
	border: none;
	width: 100px;
	height: 35px;
	border: 2px solid rgba(114, 121, 88, 1);
	border-radius: 10px;
    background: transparent;
    text-align: center;
}

.btn-p {
	border: none;
	width: 310px;
	height: 36px;
	border: 2px solid rgba(114, 121, 88, 1);
	border-radius: 10px;
    background: transparent;
}

.btn-p:hover {
    cursor: pointer;
}

.form-profile-photo {
	border: none;
	width: 100px;
	border: 2px solid rgba(114, 121, 88, 1);
	border-radius: 10px;
    text-align: center;
}

.save-profile, .password-change {
	text-align: center;
	width: 220px;
	padding: 10px;
	background-color: rgba(114, 121, 88, 1);
	border: none;
	border-radius: 10px;
	margin-top: 5px;
    color: rgba(202, 208, 183, 1);
}

.save-profile:hover, .password-change:hover {
	background-color: rgba(209, 216, 184, 1);
    color: rgba(40, 49, 6, 1);
    border-radius: 10px;
    cursor: pointer;
}

.bt-my-profile, .bt-my-orders, .bt-my-feedback {
    border-radius: 10px;
    padding: 5px;
    text-decoration: none;
    cursor: pointer;
    color: rgba(40, 49, 6, 1);
}

.bt-my-profile:hover, .bt-my-orders:hover, .bt-my-feedback:hover {
    border: 1px solid rgba(114, 121, 88, 1);
    border-radius: 10px;
    cursor: pointer;
    color: rgba(40, 49, 6, 1);
}

li {
    padding: 10px;
}

li:nth-child(1)::marker {
    content: url(../icons/icon-profile-setting.png);
}

li:nth-child(2)::marker {
    width: 20px;
    height: 20px;
    content: url(../icons/icon-others.png);
}

li:nth-child(3)::marker {
    width: 20px;
    height: 20px;
    content: url(../icons/icon-feedback.png);
}

li:nth-child(4)::marker {
    width: 20px;
    height: 20px;
    content: url(../icons/icon-favorite.png);
}

.photo-change {
    display: none;
    position: absolute;
}

.form-profile-photo {
    margin-left: 63px;
    width: 115px;
    background-color: rgba(114, 121, 88, 1);
}




/* Страница заказов в профайле */
.order-status>form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 20px;
}

.order-status>form>div {
    height: 25px;
    justify-content: center;
    align-self: center;
    span {
        color: rgba(40, 49, 6, 1);   
        cursor: pointer;     
    }
}

input[type=radio] {
	display: none;
}

.active {
    border: 1px solid rgba(234, 233, 229, 1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: none;
}

.not-active {
    border-bottom: 1px solid rgba(234, 233, 229, 1);
}

.orders {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
}

.order {
    height: 310px;
    background: rgba(234, 233, 229, 1);
    border-radius: 10px;
    box-shadow: 20px 10px 20px  rgba(114, 121, 88, 0.1);
}

.order-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 10px 0 10px 0;
}

.info-left {
    margin: 0 0 0 10px;
    justify-self: start;
}

.info-right {
    margin: 0 10px 0 0;
    justify-self: end;
}

.info-center {
    grid-column: span 2;
}

.date-p, .id-p, .summa-p, .rating-p, .text-p, .title-p {
    margin: 0;
    font-size: 10pt;
    color: rgba(88, 88, 88, 1);
}

.status-p {
    margin: 0;
    font-size: 10pt;
    color: rgba(88, 88, 88, 1);
    border-radius: 25px;
    border: 1px solid rgba(114, 121, 88, 1);
    background: rgba(209, 216, 184, 1);
    padding: 0 15px 0 15px;
}

.order-img {
    height: 210px;
}

.order-img-6, .order-img-7-12-slice-one, .order-img-7-12-slice-two {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    height: 190px;
}

.more, .many {
    border: none;
    background: transparent;
    color: rgba(88, 88, 88, 1);
    font-size: 6pt;
}

.order-cart {
    position: relative; 
    display: inline;
}
  
.order-cart-quantity {
    position: absolute;
    right: 10px;
    border: 1px solid rgba(114, 121, 88, 1);
    background: rgba(209, 216, 184, 1);
    color: rgba(88, 88, 88, 1);
    border-radius: 50%; 
    padding: 5px 8px;
    font-size: 8px;
}

.bt-rating, .bt-cancel {
    width: 150px;
    border: 1px solid rgba(114, 121, 88, 1);
    border-radius: 10px;
    cursor: pointer;
    background: rgba(209, 216, 184, 1);
    a {
        text-decoration: none;
        color: rgba(40, 49, 6, 1);
    }
}

.bt-rating:hover, .bt-cancel:hover {
    width: 150px;
    border: 1px solid rgba(209, 216, 184, 1);
    border-radius: 10px;
    cursor: pointer;
    background: rgba(114, 121, 88, 1);
    a {
        text-decoration: none;
        color: rgba(209, 216, 184, 1);
    }
}

/* Модальное окно для оценки товаров */
.feedback-order {
    background: rgba(255, 255, 255, 1);
    position: absolute;
    top: 125px;
    left: 350px;
    width: 1000px;
    border-radius: 25px;
    box-shadow: 0 0 20px rgba(114, 121, 88, 1);
}

.bt-close {
    text-align: end;
    padding: 20px 50px 0 0;
    cursor: pointer;
    font-size: 14pt;
}

.popup-feedback {
    display: grid;
    grid-template-columns: 25% 75%;
}

.star {
    font-size: 16pt;
    color: rgba(15, 15, 15, 1);
    cursor: pointer;
    border: none;
    background: none;
}

.feedback-product {
    justify-self: center;
    align-self: center;
}
/* .form-feedback-images {
    color: transparent;
}

.form-feedback-images::-webkit-file-upload-button {
    visibility: hidden;
}

.form-feedback-images::before {
    content: 'Загрузить фото';
    border: 1px solid rgba(234, 233, 229, 1);
    border-radius: 25px;
    cursor: pointer;
    background: rgba(234, 233, 229, 1);
    color: rgba(40, 49, 6, 1);
    display: inline-block;
    padding: 5px 8px;
    cursor: pointer;
    font-size: 10pt;
}

.form-feedback-images:hover::before {
    border: 1px solid rgba(234, 233, 229, 1);
    border-radius: 25px;
    background: rgba(234, 233, 229, 1);
} */

.feedback-user-img {
    display: flex;
    gap: 10px;
}

.feedback-button {
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-top: 10px;
}

.add-feedback {
    border: 1px solid rgba(114, 121, 88, 1);
    border-radius: 25px;
    cursor: pointer;
    background: rgba(209, 216, 184, 1);
    display: inline-block;
    padding: 5px 8px;
    cursor: pointer;
    font-size: 10pt;
    color: rgba(40, 49, 6, 1);     
}

.add-feedback:hover {
    border: 1px solid rgba(40, 49, 6, 1);    
    background: rgba(114, 121, 88, 1);
    color: rgba(209, 216, 184, 1);
}

/* Страница отзывов в профайле */
.feedbacks {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 10px;
}

.feedback {
    height: 180px;
    background: rgba(234, 233, 229, 1);
    border-radius: 10px;
    box-shadow: 20px 10px 20px  rgba(114, 121, 88, 0.1);
    display: grid;
    grid-template-columns: 5% 70% 25%;
    grid-template-rows: 20% 20% 60%;
    padding: 5px 15px 5px 15px;
}

.feedback-product-img {
    grid-column: 1;
    grid-row: span 2;
    justify-self: start;
    align-self: center;
}

.feedback-date-rating {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    gap: 10px;
    justify-self: start;
    align-items: center;
    p {
        margin-bottom: -10px;
    }
}

.feedback-product-title {
    grid-column: 2;
    grid-row: 2;
    text-align: start;
    align-content: center;
    p {
        margin-top: -10px;
    }
    a {
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline rgba(114, 121, 88, 1);
    }
}

.feedback-delete-redaction {
    grid-column: 3;
    grid-row: span 2;
    display: flex;
    gap: 10px;
    align-self: center;
    justify-content: center;
}

.bt-delete, .bt-redaction {
    width: 150px;
    border: 1px solid rgba(114, 121, 88, 1);
    border-radius: 10px;
    cursor: pointer;
    background: rgba(209, 216, 184, 1);
    a {
        text-decoration: none;
        color: rgba(40, 49, 6, 1);
    }
}

.bt-delete:hover, .bt-redaction:hover {
    width: 150px;
    border: 1px solid rgba(209, 216, 184, 1);
    border-radius: 10px;
    cursor: pointer;
    background: rgba(114, 121, 88, 1);
    a {
        text-decoration: none;
        color: rgba(209, 216, 184, 1);
    }
}

.feedback-text {
    grid-column: span 2;
    grid-row: 3;
    justify-self: start;
    align-self: center;
}

.feedback-user-img {
    grid-column: 3;
    grid-row: 3;
    display: flex;
    gap: 10px;
    justify-self: center;
    align-self: center;
}


/* Пагинация */

.list-pages {
    display: inline;
    padding: 0 15px 0 15px;
    color: rgba(40, 49, 6, 1);
    font-family: 'myFontMirra';
    font-weight: bold;
}

.list-pages a {
    text-decoration: none;
    color: rgba(40, 49, 6, 1);
    font-size: 10pt;
}


/* Сообщение об отмене */
.messages {
    background: rgba(209, 216, 184, 0.3); 
    border-radius: 15px;   
}

.messages-text {

    color: rgba(40, 49, 6, 1);
}


@media screen and (min-width: 800px) and (max-width: 1175px){
    .form-grid {
        height: 350px;
        width: 600px;
    }

    .form-input-profile {
        width: 150px;
        height: 20px;
        font-size: 8pt;
    }
    
    .form-date-birth {
        width: 52px;
        height: 25px;
        font-size: 8pt;
    }
    
    .btn-p {
        width: 150px;
        height: 25px;
    }
       
    .save-profile, .password-change {
        font-size: 8pt;
        width: 150px;
        padding: 7px;
        margin: 10px 0 0 -550px;
    }

    /* Страница заказов в профайле */
    .orders {
        column-gap: 5px;
        width: 500px;
    }

    .order {
        height: 200px;
        width: 160px;
    }

    .date-p, .id-p, .summa-p, .rating-p, .text-p, .title-p, .status-p{
        font-size: 8pt;
    }

    .order-img {
        margin-top: -50px;
        height: 150px;
        img {
            width: 50px;
            height: 70px;
        }
    }

        /* Страница отзывов в профайле */
        .feedback {
            width: 500px;
            height: 200px;
        }
    
        .feedback-product-img {
            margin-top: 80px;
            width: 25px;
            height: 45px;
        }
    
        .feedback-text {
            margin: 20px 0 0 10px;
            text-align: left;
        }
    
        .feedback-delete-redaction {
            margin-right: 50px;
        }
    
        .feedback-user-img img{
            width: 40px;
            height: 60px;
        }
    
        .bt-delete, .bt-redaction {
            width: 85px;
            height: 20px;
            a {
                font-size: 8pt;
            }
        }
}

@media screen and (max-width: 799px){   
    .name-photo {
        display: flex;
        gap: 10px;
    }
    
    .user-photo {
        width: 70px;
        height: 70px;
        clip-path: ellipse(35px 35px at 50% 50%);
        top: 60px; left: 0px;
    }
    
    .user-name {
        top: 90px; left: 0;
        font-size: 10pt;
    }
    
    .popup {
        width: 600px;
        height: 550px;
        display: flex;
    }
    
    .menu {
        width: 120px;
    }
    
    .overlay {
        width: 400px;
    }
  
    .form-grid {
        display: inline;
        height: 350px;
    }

    .form-1, .form-2 {
        margin-top: 50px;
        padding-top: -10px;
        text-align: start;
    }
    
    .form-input-profile {
        width: 50px;
        height: 10px;
        font-size: 8pt;
    }
    
    .form-date-birth {
        width: 50px;
        height: 15px;
        font-size: 8pt;
    }
    
    .btn-p {
        width: 60px;
        height: 15px;
    }
       
    .save-profile, .password-change {
        font-size: 8pt;
        width: 80px;
        padding: 5px;
        margin-left: -150px;
    }
    
    li {
        padding: 0px;
        font-size: 8pt;
    }

    .form-grid {
        line-height: 3px;
    }
    
    .label-form {
        display: none;
    }
    
    /* Страница заказов в профайле */
    .orders {
        margin-top: -10px;
        column-gap: 10px;
        width: 250px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
    }

    .order {
        height: 120px;
        width: 100px;
    }

    .date-p, .id-p, .summa-p, .rating-p, .text-p, .title-p {
        font-size: 4pt;
    }

    .status-p {
        font-size: 4pt;
        width: 5px;
        text-align: center;
    }

    .order-img {
        margin-top: -70px;
        height: 50px;
        img {
            width: 30px;
            height: 40px;
        }
    }

    .order-cart-quantity {
        border-radius: 50%; 
        padding: 3px 5px;
        font-size: 4px;
    }

    .bt-rating, .bt-cancel, .bt-rating:hover, .bt-cancel:hover  {
        margin-top: 85px;
        padding: 0 0 15px 0;
        height: 10px;
        width: 60px;
        a {
            font-size: 4pt;
        }
    }

    /* Страница отзывов в профайле */
    .feedback {
        width: 250px;
        height: 100px;
    }

    .feedback-product-img {
        margin-top: 20px;
        width: 17px;
        height: 35px;
    }

    .feedback-text {
        margin: 20px 0 0 10px;
        text-align: left;
    }

    .feedback-delete-redaction {
        margin-right: 50px;
    }

    .feedback-user-img img{
        width: 20px;
        height: 30px;
    }

    .bt-delete, .bt-redaction {
        width: 50px;
        height: 20px;
        a {
            font-size: 4pt;
        }
    }

}