@font-face {
  font-family: 'myFontMirra';
  src: url('../fonts/Mirra.otf');
}

.title {
    color: rgba(114, 121, 88, 1);
    padding-left: 5px;
}

.name-photo {
    display: flex;
    gap: 50px;
}

.user-photo {
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: 1px solid rgba(40, 49, 6, 1);
    position: relative;
    top: 60px; left: 20px;
}

.user-name {
    position: relative;
    top: 210px; left: 0;
    font-family: 'myFontMirra';
}

.popup {
	width: 1600px;
	height: 700px;
	display: flex;
}

.menu-profile {
    margin: 10px 0 0 20px;
	text-align: start;
    border-radius: 10px;
    box-shadow: 30px 10px 40px  rgba(114, 121, 88, 0.3);
}

.menu {
    width: 200px;
}

.overlay {
    margin: 10px 0 0 50px;
	width: 1150px;
	padding: 50px;
	text-align: center;
	background-image: url(../images/profile-hat.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	border-radius: 10px;
	box-shadow: 30px 10px 40px  rgba(114, 121, 88, 0.3);
	display: grid;
    grid-template-rows: 35% 65%;
}

.form-profile {
    display: grid;
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 350px;
    justify-content: center;
    align-content: end;
}

.label-form {
    font-size: 10pt;
    color: rgba(88, 88, 88, 1);
    height: 5px;
}

.form-input-profile {
	border: none;
	width: 300px;
	height: 30px;
	border: 2px solid rgba(114, 121, 88, 1);
	border-radius: 10px;
    background: transparent;
}

.form-date-birth {
	border: none;
	width: 100px;
	height: 35px;
	border: 2px solid rgba(114, 121, 88, 1);
	border-radius: 10px;
    background: transparent;
    text-align: center;
}

.btn-p {
	border: none;
	width: 310px;
	height: 36px;
	border: 2px solid rgba(114, 121, 88, 1);
	border-radius: 10px;
    background: transparent;
}

.btn-p:hover {
    cursor: pointer;
}

.form-photo {
	border: none;
	width: 100px;
	height: 30px;
	border: 2px solid rgba(114, 121, 88, 1);
	border-radius: 10px;
    background: transparent;
    text-align: center;
}

.save-profile, .password-change {
	text-align: center;
	width: 220px;
	padding: 10px;
	background-color: rgba(114, 121, 88, 1);
	border: none;
	border-radius: 10px;
	margin-top: 5px;
    color: rgba(202, 208, 183, 1);
}

.save-profile:hover, .password-change:hover {
	background-color: rgba(209, 216, 184, 1);
    color: rgba(40, 49, 6, 1);
    border-radius: 10px;
    cursor: pointer;
}

.bt-my-profile, .bt-my-orders, .bt-my-feedback,
.bt-my-like, .bt-my-cart {
    border-radius: 10px;
    padding: 5px;
    text-decoration: none;
    cursor: pointer;
    color: rgba(40, 49, 6, 1);
}

.bt-my-profile:hover, .bt-my-orders:hover, .bt-my-feedback:hover,
.bt-my-like:hover, .bt-my-cart:hover {
    border: 1px solid rgba(114, 121, 88, 1);
    border-radius: 10px;
    cursor: pointer;
    color: rgba(40, 49, 6, 1);
}

li {
    padding: 10px;
}

li:nth-child(1)::marker {
    content: url(../icons/icon-profile-setting.png);
}

li:nth-child(2)::marker {
    width: 20px;
    height: 20px;
    content: url(../icons/icon-others.png);
}

li:nth-child(3)::marker {
    width: 20px;
    height: 20px;
    content: url(../icons/icon-feedback.png);
}

li:nth-child(4)::marker {
    width: 20px;
    height: 20px;
    content: url(../icons/icon-favorite.png);
}

.photo-change {
    display: none;
    position: absolute;
}

.form-profile-photo {
    margin-left: 63px;
    width: 115px;
    border-radius: 45px;
    background-color: rgba(114, 121, 88, 1);
}




/* ORDER */
.orders {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 50px;
}

.order {
    height: 310px;
    background: rgba(234, 233, 229, 1);
    border-radius: 10px;
    box-shadow: 20px 10px 20px  rgba(114, 121, 88, 0.1);
}

.order-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 10px 0 10px 0;
}

.info-left {
    margin: 0 0 0 10px;
    justify-self: start;
}

.info-right {
    margin: 0 10px 0 0;
    justify-self: end;
}

.date-p, .id-p, .summa-p {
    margin: 0;
    font-size: 10pt;
    color: rgba(88, 88, 88, 1);
}

.status-p {
    margin: 0;
    font-size: 10pt;
    color: rgba(88, 88, 88, 1);
    border-radius: 25px;
    border: 1px solid rgba(114, 121, 88, 1);
    background: rgba(209, 216, 184, 1);
    padding: 0 15px 0 15px;
}

.order-img {
    height: 210px;
}
.order-img-6, .order-img-7-12-slice-one, .order-img-7-12-slice-two {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    height: 190px;
}

.more, .many {
    border: none;
    background: transparent;
    color: rgba(88, 88, 88, 1);
    font-size: 6pt;
}

.order-cart {
    position: relative; 
    display: inline;
}
  
.order-cart-quantity {
    position: absolute;
    right: 10px;
    border: 1px solid rgba(114, 121, 88, 1);
    background: rgba(209, 216, 184, 1);
    color: rgba(88, 88, 88, 1);
    border-radius: 50%; 
    padding: 5px 8px;
    font-size: 8px;
}

.bt-rating, .bt-cancel {
    width: 150px;
    border: 1px solid rgba(114, 121, 88, 1);
    border-radius: 10px;
    cursor: pointer;
    background: rgba(209, 216, 184, 1);
    a {
        text-decoration: none;
        color: rgba(40, 49, 6, 1);
    }
}

.bt-rating:hover, .bt-cancel:hover {
    width: 150px;
    border: 1px solid rgba(209, 216, 184, 1);
    border-radius: 10px;
    cursor: pointer;
    background: rgba(114, 121, 88, 1);
    a {
        text-decoration: none;
        color: rgba(209, 216, 184, 1);
    }
}

/* Пагинация */

.list-pages {
    display: inline;
    padding: 0 15px 0 15px;
    color: rgba(40, 49, 6, 1);
    font-family: 'myFontMirra';
    font-weight: bold;
}

.list-pages a {
    text-decoration: none;
    color: rgba(40, 49, 6, 1);
    font-size: 10pt;
}