{% extends "base.html" %}
{% load static %}
{% block head_title %}
    <link rel="stylesheet" href="{% static 'css/cart_style.css' %}" />
    <title>Корзина</title>
{% endblock head_title %}

{% block base_content %}
<input type="hidden" name="next" value="{{ next }}" />
    <div class="breadcrumb">
        <ul>
            <li class="breadcrumb_item"><a href="{% url 'flowers:main' %}">Главная /</a></li>
            <li class="breadcrumb_item"><a href="{% url 'cart:cart' %}">Корзина /</a></li>
        </ul>
    </div>

<section class="cart">

    <div class="cart-product">
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <span class="massages-text">{{ message }}</span>
                {% endfor %}
            </div>
        {% endif %}

        {% if carts %}
            <h2 style="font-family: 'myFontMirra'; text-align: center; color: rgba(40, 49, 6, 1);">Корзина</h2>
            {% for cart in carts %}
                <div class="cart-product-frame">
                    <div class="cart-img">
                        <img src="{{ cart.flowers.image.url }}" width="100px" height="120px">
                    </div>

                    <div class="cart-title">
                        <a href="{% url 'flowers:flower' slug=cart.flowers.slug %}">{{ cart.flowers }}</a>
                    </div>

                    <div class="cart-quantity">
                        <div class="quantity_inner">
                            <form method="post" action="{% url 'cart:change-cart' cart.id %}">
                                {% csrf_token %}

                                <button type="submit" class="bt_minus">-</button>
                                <input type="text" class="quantity" value="{{ cart.quantity }}" data-max-count="{{ cart.flowers.quantity }}" name="quantity">
                                <button type="submit" class="bt_plus">+</button>
                            </form>
                        </div>
                    </div>

                    <div class="cart-summa-price">
                        <span class="summa">{{ cart.sum_cart }}₽</span><br>
                        <span class="price">{{ cart.flowers.calculate_the_price }}₽ за 1шт.</span>
                    </div>

                    <div class="cart-remove">
                        <a href="{% url 'cart:remove-cart' cart.id %}"><img src="{% static 'icons/icon-delete.png' %}" width="20px" height="20px"></a>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h1 style="font-family: 'myFontMirra'">В корзине пока нет товаров</h1>
            <a href="{% url 'flowers:flowers' %}" style="color: rgba(40, 49, 6, 1);">Перейти в каталог</a>
        {% endif %}
    </div>

    <div class="cart-total">
        <div class="cart-total-frame">
            <h1  style="font-family: 'myFontMirra'; text-align: start; color: rgba(40, 49, 6, 1);">Оформление заказа</h1>
            <form action="{% url 'order:add-order' %}" method="post">
                {% csrf_token %}

                {{ form.taking }}
                {{ form.payment }}
                <span id="address">{{ form.address }}</span>

                <div>
                    <p>Количество товаров: {{ carts.total_quantity }} шт.</p>
                    <p>Стоимость товаров: {{ carts.total_summ }}₽</p>
                    <p id="takingSumm">Стоимость доставки: 0₽</p>
                    <input type="hidden" id="hiddenTakingSumm" name="taking_summa" value="0">
                    <hr><p id="totalSumm">{{ carts.total_summ }}₽</p>
                    <input type="hidden" id="hiddenTotalSumm" name="summa" value="{{ carts.total_summ }}">
                </div>

                <button class="cart-pay">Оформить</button>

                {% if form.errors %}
                    <div class="errors">
                        {% for form_error in form %}
                            {% for error in form_error.errors %}
                                <p class="error">{{ error }}</p>
                            {% endfor %}
                        {% endfor %}
                    </div>
                {% endif %}
            </form>
        </div>
    </div>
</section>


<script src="https://code.jquery.com/jquery-1.6.1.min.js"></script>
<script src="{% static 'js/cart.js' %}"></script>
{% endblock base_content %}