a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    border-bottom: 2px solid rgba(67, 102, 205, 0);
}

.breadcrumb {
    background-image: url(../images/fon-flowers2.png);
    padding: 5px 0 5px 365px;
}

.breadcrumb ul {
    display: flex;
    list-style: none;
}

.breadcrumb li {
    font-size: 10pt;
    padding-left: 2px;
}

.breadcrumb a {
    text-decoration: none;
    color: rgba(88, 88, 88, 1);
    border-bottom: 2px solid rgba(67, 102, 205, 0);
}

@font-face {
  font-family: 'myFontMirra';
  src: url('../fonts/Mirra.otf');
}

.category-list {
    background: rgba(209, 216, 184, 1);
    text-align: center;
    height: 90px;

}

.category-list span {
    color: rgba(45, 44, 44, 1);
    font-family: 'myFontMirra';
    font-size: 30pt;
    display: inline-block;
    padding-top: 25px;
}

.hello {
    background-image: url(../images/fon-flowers1.png);
    background-size: contain;
    height: 300px;
}

.hello-text {
    margin: 0 20% 0 20%;
    width: 60%;
    padding: 20px;
    text-align: center;
    color: rgba(40, 49, 6, 1);
}

.answer-search {
    margin: -100px 0 0 0;
    text-align: center;
    font-size: 13pt;
}

.hello-text .p1 {
    text-align: center;
    font-family: 'myFontMirra';
    font-size: 60pt;
}

.shop {
    background-image: url(../images/fon-flowers3.png);
    background-size: cover;
    display:grid;
    grid-template-columns: 1fr 4fr;
}

.flowers-list {
    padding: 20px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    justify-self: center;
    align-self: center;
}

.flowers-list img {
    width: 250px;
    height: 300px;
}

.flower {
    border-radius: 20px;
    outline: 0.5px solid rgba(119, 126, 92, 1);
    background: rgba(247, 247, 247, 0.5);
}

.flower-detail {
    border-radius: 0 0 20px 20px;
    background: rgba(255, 255, 255, 1);
    padding: 10px;
    text-align: center;
}

.p-text {
    font-family: 'myFontMirra';
    font-size: 11pt;
    font-weight: bold;
    text-align: center;
}

.cart-button {
    border-style: none;
    background-color: rgba(114, 121, 88, 1);
    padding: 5px 5px 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 25px;
    color: rgba(214, 215, 210, 1);
    cursor: pointer;
}

.cart-button:hover {
    border-style: none;
    background-color: rgba(209, 216, 184, 1);
    padding: 5px 5px 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 25px;
    color: rgba(40, 49, 6, 1);
    cursor: pointer;
}

.flower:hover {
    box-shadow: 10px 10px 30px rgba(119, 126, 92, 1);
}

.shop>.filters {
    padding: 20px;
    justify-self: center;
    align-self: start;
}

.shop>.filters p {
    text-align: center;
}

.list-pages {
    text-align: center;
    grid-column: 2 / 2;
}

.page-num {
    display: inline;
    padding: 0 15px 0 15px;
    color: rgba(40, 49, 6, 1);
    font-family: 'myFontMirra';
    font-weight: bold;
}

.list-cat {
    margin-left: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

/* .cat-plant { */
    /* width: 340px;
    height: 20px; */
    /* border: 1px solid rgba(114, 121, 88, 1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: none;
    padding-top: 5px;
    text-align: center;
    color: rgba(40, 49, 6, 1); */
/* } */

.cat-plant, .cat-pots, .cat-care {
    width: 340px;
    height: 20px;
    padding-top: 5px;
    text-align: center;
    color: rgba(40, 49, 6, 1);
}