{% extends "base.html" %}
{% load static %}
{% block head_title %}
    <link rel="stylesheet" href="{% static 'css/about_us.css' %}" />
    <title>О Fresh Company - галерея зеленых пейзажей</title>
{% endblock head_title %}

{% block base_content %}

<div class="about-start">
    <p>Fresh Company - это больше, чем просто магазин комнатных растений.
    Мы - команда страстных любителей природы, которые хотят поделиться своей любовью к зелени с вами.
    Мы верим, что растения способны не только украсить ваш дом, но и создать уютную атмосферу,
    улучшить настроение и даже повысить продуктивность.</p>
</div>

<div class="about-div">
    <img src="{% static 'images/about_two.jpg' %}">
    <div class="about-text">
        <h2>Что мы предлагаем:</h2>
            <ul>
                <li>Широкий выбор растений: В нашем ассортименте вы найдете как классические, так и редкие виды комнатных растений.
                Мы заботимся о том, чтобы у вас был выбор на любой вкус и бюджет.</li>
                <li>Качественные растения: Мы работаем только с проверенными поставщиками и гарантируем вам здоровые и ухоженные растения.</li>
                <li>Индивидуальные консультации: Наши специалисты с удовольствием ответят на все ваши вопросы о выборе, уходе и размножении растений.</li>
                <li>Дополнительные услуги: Мы предлагаем услуги по пересадке, подбору горшков и аксессуаров для ваших зеленых питомцев.</li>
                <li>Доступные цены: Мы стараемся, чтобы растения были доступны каждому.</li>
                <li>Онлайн-заказ: Вы можете выбрать и заказать растения не выходя из дома через наш сайт.</li>
        </ul>
    </div>
</div>

<div class="about-div">
    <div class="about-text">
        <h2>Мы про:</h2>
            <ul>
                <li>Качество: Мы стремимся предлагать высококачественные растения и услуги.</li>
                <li>Экологичность: Мы заботимся об окружающей среде и используем экологически чистые материалы и методы.</li>
                <li>Любовь к растениям: Мы с удовольствием делимся своими знаниями и опытом с вами.</li>
            </ul>
    </div>
    <img src="{% static 'images/about_three.jpg' %}">
</div>

<div class="about-div">
    <img src="{% static 'images/about_four.jpg' %}">
    <div class="about-text">
        <h2>Почему стоит выбрать нас:</h2>
            <ul>
                <li>Профессионализм: Мы имеем большой опыт в работе с комнатными растениями.</li>
                <li>Качество: Мы гарантируем вам здоровые и красивые растения.</li>
                <li>Индивидуальный подход: Мы с удовольствием подберем растения и поможем вам в уходе за ними.</li>
            </ul>
    </div>
</div>

<div class="about-end">
    <p>Присоединяйтесь к нашему зеленому сообществу и дайте растениям преобразить ваш мир!</p>

    <p>Fresh Company - ваш зеленый оазис в городе.</p>
</div>




{% endblock base_content %}