<!DOCTYPE html>
{% load static %}
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base_style.css' %}" />

    {% block head_title %}

    {% endblock head_title %}
</head>
<body>
    <nav class="nav_main">
        <div class="logo">
            <a href="{% url 'main' %}">FRESH COMPANY</a>
        </div>

        <div class="networks">
            <a href="{% url 'flowers' %}">Комнатные растения</a>
            <a href="{% url 'pots' %}">Горшки для растений</a>
            <a href="{% url 'care' %}">Уход за растениями</a>
            <a href="{% url 'about' %}">О нас</a>
            <a href="{% url 'services' %}">Услуги</a>
        </div>

        <div class="find">
            <form>
                <input type="text" placeholder="Поиск">
                <button type="submit"><img src="{% static 'icons/icons_find.jpg' %}"></button>
            </form>
        </div>

        <div class="user">
            {% if user.is_authenticated %}
            <div class="dropdown-user">
                <button onclick="myFunction()" class="drop-btn">{{user.username}}</button>

                <div id="myDropdown" class="dropdown-content">
                    <a href="{% url 'profile' %}">Личный кабинет</a>
                    <a href="{% url 'logout' %}">Выйти</a>
                </div>
            </div>

            {% else %}
                <a href="{% url 'login' %}"><img class="auth" src="{% static 'icons/icons_user.jpg' %}"></a>
            {% endif %}


            <a href="{% url 'cart' %}" class="base-total-quantity">
                <img src="{% static 'icons/icons_cart.jpg' %}">
            </a>
<!--            <span class="p-base-total-quantity">{{ carts.total_quantity }}</span>-->


        </div>
    </nav>

    {% block base_content %}

    {% endblock base_content %}
    <section>
        <h1 style="text-align: center;">Подписка на соц сети</h1>
    </section>
    <section class="basement">
        <div class="logo_basement">
            <img src="{% static 'images/logo.jpg' %}">
        </div>

        <div class="info">
            <h4>Покупателю</h4>
            <p>Как сделать заказ</p>
            <p>Оплата заказов</p>
            <p>Возврат заказов</p>
            <p>Доставка заказов</p>
            <p>Пункты самовывоза</p>
        </div>

        <div class="connection">
            <h4>Связаться с нами</h4>
            <p>О нас</p>
            <p>По России 8(800)-000-0000</p>
            <p>По Красноярску 8(999)-000-0000</p>
            <p>Адрес: г. Красноярск, ул. Чайковского 20 пом.205</p>
            <p>Галерея зеленых пейзажей Fresh Company</p>
            <img src="{% static 'icons/icons_telegram.jpg' %}">
            <img src="{% static 'icons/icons_instagram.jpg' %}">
        </div>
    </section>

    <p class="author">&#169 Оформление сайта. ООО «Оформитель», 2024-2025</p>


    <script src="http://code.jquery.com/jquery-1.6.1.min.js"></script>
    <script src="{% static 'js/base.js' %}"></script>
</body>
</html>