<!DOCTYPE html>
{% load static %}
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base_style.css' %}" />
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">

    {% block head_title %}

    {% endblock head_title %}
</head>
<body>
    <nav class="nav_main">
        <div class="logo">
            <a href="{% url 'flowers:main' %}"><img src="{% static 'images/logo.png' %}" style="background-size: contain;"></a>
        </div>

        <div class="catalog">
            <p class="catalog-main-title"><a class="catalog-main-link" href="{% url 'flowers:main' %}">FRESH COMPANY</a></p>

            <div class="catalog-list">
                <span class="catalog-list-title"><a class="catalog-list-link" href="{% url 'flowers:flowers' %}">Комнатные растения</a></span>
                <span class="catalog-list-title"><a class="catalog-list-link" href="{% url 'flowers:pots' %}">Горшки и кашпо</a></span>
                <span class="catalog-list-title"><a class="catalog-list-link"  href="{% url 'flowers:care' %}">Уход за растениями</a></span>
            </div>
        </div>

        <div class="find">
            <form method="get" action="{% url 'flowers:search' %}">
                <input type="search" name="search" placeholder=" Введите название..." class="find-input">
                <button type="submit"><img src="{% static 'icons/icons_find.jpg' %}" class="find-button"></button>
            </form>
        </div>

        <div class="user">
            {% if user.is_authenticated %}
            <div class="dropdown-user">
                <button onclick="myFunction()" class="drop-btn">{{user.username}}</button>
                <div id="myDropdown" class="dropdown-content">
                    <a href="{% url 'user:profile' %}">Личный кабинет</a>
                    <a href="{% url 'order:order-profile' %}">Заказы</a>
                    <a href="{% url 'feedback:feedback-profile' %}">Отзывы</a>
                    <a href="{% url 'user:logout' %}">Выйти</a>
                </div>
            </div>
            {% else %}
                <a href="{% url 'user:login' %}"><img class="auth" src="{% static 'icons/icons_user.jpg' %}"></a>
            {% endif %}

            <a href="{% url 'cart:cart' %}" class="base-total-quantity">
                <img src="{% static 'icons/icons_cart.jpg' %}">
            </a>
        </div>
    </nav>

    {% block base_content %}

    {% endblock base_content %}
    <section class="social-networks">
        <div class="social-networks-info">
            <p>Присоединяйтесь к нашему зеленому сообществу и дайте растениям преобразить ваш мир!
            <p>Fresh Company - ваш зеленый оазис в городе.</p>
            
            <a href="#"><img src="{% static 'icons/icons_telegram.jpg' %}" width="50px" height="50px"></a>
            <a href="#"><img src="{% static 'icons/icons_instagram.jpg' %}" width="50px" height="50px"></a>
        </div>

        <div class="social-networks-img">
            <img src="{% static 'images/social-networks.png' %}" width="500px" height="400px">
        </div>
    </section>

    <section class="basement">
        <div class="logo_basement">
            <img src="{% static 'images/logo.png' %}">
        </div>

        <div class="info">
            <h4>Покупателю</h4>
            <p>Оплата заказов</p>
            <p>Возврат заказов</p>
            <p>Доставка заказов</p>
        </div>

        <div class="connection">
            <h4>Связаться с нами</h4>
            <p>8(999)-000-0000</p>
            <p>Адрес: г. Красноярск, ул. Чайковского 20 пом.205</p>
            <p>Галерея зеленых пейзажей Fresh Company</p>
        </div>
    </section>

    <p class="author">&#169 Оформление сайта. ООО «Оформитель», 2024-2025</p>


    <script src="http://code.jquery.com/jquery-1.6.1.min.js"></script>
    <script src="{% static 'js/base.js' %}"></script>
</body>
</html>