body {
    margin: 0;
}

@font-face {
    font-family: 'myFontMirra';
    src: url('../fonts/Mirra.otf');
}

.nav_main {
    display: grid;
    grid-template-columns: 20% 50% 15% 15%;
    height: 50px;
   /* position: fixed;
    transition: top 0.3s;*/

}

nav .logo {
    grid-column: 1;
    padding-left: 30px;
    justify-self: start;
    align-self: center;
    font-family: 'myFontMirra';
    font-size: 26pt;
    a {
        text-decoration: none;
        color: black;
    }
}

.logo img {
    height: 50px;
}

nav .networks {
    grid-column: 2;
    display: flex;
    gap: 20px;
    justify-self: center;
    align-self: center;
}

.networks a {
    text-decoration: none;
    color: rgba(40, 49, 6, 1);
    border-bottom: none;
}

.networks a:hover {
    text-decoration: none;
    color: rgba(119, 126, 92, 1);
    border-bottom: none;
}

nav .find {
    grid-column: 3;
    justify-self: center;
    align-self: center;
}

nav form {
    position: relative;
    width: 100px;
}

.find-input {
    border: none;
    border-radius: 2px;
    outline: 1px solid DimGrey;
    background: transparent;
    width: 160px;
    padding: 5px 0 5px 0;
}

.find button {
    border: none;
    outline: none;
    background: transparent;
    position: absolute;
    top: 0;
    left: 130px;
    cursor: pointer;
}

.find img {
    position: relative;
    top: 3px;
    height: 20px;
    width: 20px;
}

nav .user{
    display: flex;
    gap: 10px;
    grid-column: 4;
    justify-self: end;
    align-self: center;
    padding-right: 30px;
}

.user img {
    width: 20px;
    height: 20px;
    padding-right: 10px;
}

.basement {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 10px;
}

.basement>.logo_basement {
    justify-self: end;
    align-self: center;
}

.basement>.connection, .basement>.info {
    justify-self: center;
    align-self: start;
    p {
        margin-top: -10px;
    }
}

.logo_basement img{
    height: 200px;
}

.author {
    text-align: center;
}

.social-networks {
    background-image: url(../images/social-networks.png);
    background-size: cover;
    height: 180px;
    margin-top: 10px;
    color: rgba(214, 215, 210, 1);
    font-size: 14pt;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-networks-info {
    text-align: center;
    border-radius: 25px;
    box-shadow: 0 0 30px rgba(114, 121, 88, 1);
    padding: 20px;
}

.dropdown-user {
    position: relative;
    display: inline-block;
    z-index: 10;
}

.drop-btn {
    cursor: pointer;
    border: 1px solid DimGrey;
    background: transparent;
    border-radius: 25px;
}

.drop-btn:hover {
  background-color: rgba(202, 208, 183, 1);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(202, 208, 183, 1);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 1);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 10pt;
}

.dropdown-content a:hover {
    background-color: rgba(214, 215, 210, 1)
}

.show {display:block;}


@media screen and (min-width: 800px) and (max-width: 1175px){
    nav .logo {
        font-size: 16pt;
    }

    nav .networks {
        gap: 5px;
    }

    .networks a {
        font-size: 8pt;

    }

    .find-input {
        width: 100px;

    }
    
    .find button {
        left: 70px;
    }
    
    .find img {
        top: 5px;
        height: 15px;
        width: 15px;
    }

    nav .user{
        padding-right: 10px;
    }

    .user img {
        padding-right: 5px;
    }

    .logo_basement img{
        height: 130px;
    }

    .basement>.connection, .basement>.info {

        p {
            font-size: 10pt;
        }
    }

    .social-networks-info {
        background-size: cover;
        img {
            width: 30px;
            height: 30px;
        }
        p{
            font-size: 10pt;
        }
    }

    .author {
        font-size: 10pt;
    }
}

@media screen and (max-width: 799px){
    .nav_main {
        grid-template-columns: 40% 15% 25% 20%;
    }

    nav .logo {
        font-size: 14pt;
    }

    .networks-flowers, 
    .networks-pots,
    .networks-care,
    .networks-about,
    .networks-services {
        display: none;
    }

    .networ-catalog {
        display: block;
    }

    nav .networks {
        gap: 0;
    }

    .networks a {
        font-size: 10pt;
    }

    .find-input {
        width: 70px;
        font-size: 10px;
        margin-left: 5px;
    }
    
    .find button {
        left: 50px;
    }
    
    .find img {
        top: 3px;
        height: 15px;
        width: 15px;
    }

    nav .user{
        padding-right: 0;
    }

    .user img {
        padding-right: 0;
    }

    .logo_basement img{
        height: 80px;
    }

    .basement>.connection, .basement>.info {
        p {
            font-size: 6pt;
        }
    }

    .social-networks-info {
        img {
            width: 20px;
            height: 20px;
        }
        p{
            font-size: 8pt;
        }
    }

    .author {
        font-size: 8pt;
    }   
}