{% extends "base.html" %}
{% load static %}
{% block head_title %}
    <link rel="stylesheet" href="{% static 'css/flowers_style.css' %}" />
    <title>Результаты поиска</title>
{% endblock head_title %}

{% block base_content %}

<section class="hello">
    <div class="hello-text">
        <p class="p1">Результаты поиска</p>
        <p class="answer-search">по запросу {{ title }}</p>
    </div>
</section>

<div class="breadcrumb">
    <ul>
        <li class="breadcrumb_item"><a href="{% url 'flowers:main' %}">Главная /</a></li>
        <li class="breadcrumb_item"><a href="{% url 'flowers:flowers' %}">Каталог /</a></li>
    </ul>
</div>

<section class="shop">
    <div class="filters">

    </div>

    <div class="flowers-list" id="flowers-list-id">
        {% for flower in search %}
            <div class="flower">
                <a href="#">
                    <img src="{{ flower.image.url }}" width="250px" height="300px">
                </a>

                <div class="flower-detail">
                    <p class="p-text">{{ flower.title }}</p>
                    <p class="p-text">от {{ flower.price }}₽</p>
                    {% if flower.quantity > 0 %}
                        <a href="{% url 'cart:add-cart' flower.id %}" class="cart-button">Добавить в корзину</a>
                    {% else %}
                        <p style="margin: 5px;">Нет в наличии</p>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>

    <nav class="list-pages">
        <ul>
            {% for page in paginator.page_range %}
            <li class="page-num">
                <a href="?page={{ page }}">{{ page }}</a>
            </li>
            {% endfor %}
        </ul>
    </nav>
</section>

<script src="http://code.jquery.com/jquery-1.6.1.min.js"></script>
<script src="{% static 'js/flowers.js' %}"></script>
{% endblock base_content %}