{% extends "base.html" %}
{% load static %}
{% block head_title %}
    <link rel="stylesheet" href="{% static 'css/flowers_style.css' %}" />
    <title>Комнатные растения</title>
{% endblock head_title %}

{% block base_content %}

<section class="hello">
    <div class="hello-text">
        <p class="p1">Каталог</p>
        <div class="list-cat">
            <div class="cat-plant" style="
                border: 1px solid rgba(114, 121, 88, 1);
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
                border-bottom: none;">
                <a href="{% url 'flowers:flowers' %}">Комнатные растения</a>
            </div>

            <div class="cat-pots" style="border-bottom: 1px solid rgba(114, 121, 88, 1);">
                <a href="{% url 'flowers:pots' %}">Горшки и кашпо</a>
            </div>

            <div class="cat-care" style="border-bottom: 1px solid rgba(114, 121, 88, 1);">
                <a href="{% url 'flowers:care' %}">Уход за растениями</a>
            </div>
        </div>
    </div>
</section>

<div class="breadcrumb">
    <ul>
        <li class="breadcrumb_item"><a href="{% url 'flowers:main' %}">Главная /</a></li>
        <li class="breadcrumb_item"><a href="{% url 'flowers:flowers' %}">Комнатные растения /</a></li>
    </ul>
</div>

<section class="shop">
        <div class="filters">
            <p>Фильтры</p>
<!--            <form action="{% url 'flowers:filter' %}" method="get">-->
                <div class="filter-cat">
                {% for category in view.get_category %}
                <li>
                    <input type="checkbox" name="category" value="{{ category.id }}">
                    <label>{{ category.title }}</label>
                </li>
                {% endfor %}
                </div>
                <br>
                <div class="filter-price">
                    <li>
                        <input type="checkbox" name="price" min="0" max="999" id="price-0-1000">
                        <label for="price-0-1000">до 1000</label>
                    </li>
                    <li>
                        <input type="checkbox" name="price_from" min="1000" max="5000" id="price-1000-5000">
                        <label for="price-1000-5000">от 1000 до 5000</label>
                    </li>
                    <li>
                        <input type="checkbox" name="price_from" min="5000" id="price-5000-inf">
                        <label for="price-5000-inf">от 5000</label>
                    </li>
                </div>

                <button type="submit">Найти</button>
<!--            </form>-->
        </div>

        <div class="flowers-list" id="flowers-list-id">
            {% for flower in flowers %}
                <div class="flower">
                    {% if flower.is_discount %}
                        <a href="{% url 'flowers:flower' slug=flower.slug %}">
                            <img src="{{ flower.image.url }}" width="250px" height="300px">
                        </a>
                        <div class="product-discount"><span>{{ flower.discount.percent }}%</span></div>
                    {% else %}
                        <a href="{% url 'flowers:flower' slug=flower.slug %}">
                            <img src="{{ flower.image.url }}" width="250px" height="300px">
                        </a>
                    {% endif %}

                    <div class="flower-detail">
                        <p class="p-text">{{ flower.title }}</p>
                        {% if flower.is_discount %}
                            <div class="flower-price">
                                <p class="p-price-discount">от {{ flower.calculate_the_price }}₽</p>
                                <p class="p-price">{{ flower.price }}₽</p>
                            </div>
                        {% else %}
                            <p class="p-text">от {{ flower.calculate_the_price }}₽</p>
                        {% endif %}

                        {% if flower.quantity > 0 %}
                            <a href="{% url 'cart:add-cart' flower.id %}" class="cart-button">Добавить в корзину</a>
                        {% else %}
                            <p style="margin: 5px; color: rgba(40, 49, 6, 1);">Нет в наличии</p>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>

        <nav class="list-pages">
            <ul>
                {% for page in paginator.page_range %}
                <li class="page-num">
                    <a href="?page={{ page }}">{{ page }}</a>
                </li>
                {% endfor %}
            </ul>
        </nav>

    </section>


<script src="http://code.jquery.com/jquery-1.6.1.min.js"></script>
<script src="{% static 'js/flowers.js' %}"></script>
{% endblock base_content %}
