{% extends "base.html" %}
{% load static %}
{% block head_title %}
    <link rel="stylesheet" href="{% static 'css/flowers_style.css' %}" />
    <title>Комнатные растения</title>
{% endblock head_title %}

{% block base_content %}

    <section class="hello">
        <div class="hello-text">
            <p class="p1">КОМНАТНЫЕ РАСТЕНИЯ ОТ А ДО Я</p>
            <p>Рады приветствовать вас в нашем магазине комнатных растений!</p>
            <p>Мы предлагаем вам широкий выбор красивых растений, которые преобразят ваш дом и создадут уютную атмосферу.</p>
            <p>Здесь вы найдете растения для начинающих и опытных садоводов: от неприхотливых суккулентов до более требовательных орхидей,
            разнообразие видов и сортов: от классических фикусов до редких и экзотических экземпляров,
            качественные товары для ухода: удобрения, горшки, инструменты и многое другое.
            Мы всегда готовы помочь вам с выбором и ответить на любые ваши вопросы.</p>
            <p>Добро пожаловать в мир зеленой красоты!</p>

    </div>
    </section>

    <div class="breadcrumb">
        <ul>
            <li class="breadcrumb_item"><a href="{% url 'main' %}">Главная /</a></li>
            <li class="breadcrumb_item"><a href="{% url 'flowers' %}">Комнатные растения /</a></li>
        </ul>
    </div>

    <section class="shop">

        <div class="filters">
            <p>Фильтры</p>
            <form action="{% url 'filter' %}" method="get">
                {% for category in view.get_category %}
<!--                <input type="checkbox" class="filter-checkbox" data-filter="genre" value="2">-->
                <li>
                    <input type="checkbox" name="category" value="{{ category.id }}">
                    <label>{{ category.title }}</label>
                </li>

                {% endfor %}
                <button type="submit">Найти</button>
            </form>
<!--            {% for category in categories %}-->
<!--                <ul>-->
<!--                    <li><a href="{% url 'categories' slug=category.slug %}">{{ category.title }}</a></li>-->
<!--                </ul>-->
<!--            {% endfor %}-->
<!--                <ul>-->
<!--                    <li><a href="{% url 'flowers' %}">Показать все</a></li>-->
<!--                </ul>-->
        </div>

        <div class="flowers-list">
            {% for flower in flowers %}
                {% if flower.product == 'Комнатные растения' %}
                <div class="flower">
                    <a href="{% url 'flower' slug=flower.slug %}">
                        <img src="{{ flower.image.url }}">
                    </a>

                    <div class="flower-detail">
                        <p class="p-text">{{ flower.title }}</p>
                        <p class="p-text">от {{ flower.price }}₽</p>
                        {% if flower.quantity > 0 %}
                            <a href="{% url 'add-cart' flower.id %}" class="cart-button">Добавить в корзину</a>
                        {% else %}
                            <p>Нет в наличии</p>
                        {% endif %}
                    </div>
                </div>

            {% endif %}
        {% endfor %}
        </div>

        <nav class="list-pages">
            <ul>
                {% for page in paginator.page_range %}
                <li class="page-num">
                    <a href="?page={{ page }}">{{ page }}</a>
                </li>
                {% endfor %}
            </ul>
        </nav>

    </section>

{% endblock base_content %}
