{% extends "base.html" %}
{% load static %}
{% block head_title %}
    <link rel="stylesheet" href="{% static 'css/flower_style.css' %}" />
    <title>{{ flower.title }}</title>
{% endblock head_title %}

{% block base_content %}
<section class="fon">
<div class="breadcrumb">
    <ul>
        <li class="breadcrumb_item"><a href="{% url 'flowers:main' %}">Главная /</a></li>
        <li class="breadcrumb_item"><a href="{% url 'flowers:flowers' %}">Каталог /</a></li>
        {% if flower.product == 'Уход' %}
            <li class="breadcrumb_item"><a href="{% url 'flowers:care' %}">{{ flower.product }} /</a></li>
        {% elif flower.product == 'Комнатные растения' %}
            <li class="breadcrumb_item"><a href="{% url 'flowers:flowers' %}">{{ flower.product }} /</a></li>
        {% elif flower.product == 'Горшки' %}
            <li class="breadcrumb_item"><a href="{% url 'flowers:pots' %}">{{ flower.product }} /</a></li>
        {% endif %}
        <li class="breadcrumb_item"><a href="{% url 'flowers:flower' slug=flower.slug %}">{{ flower.title }}</a></li>
    </ul>
</div>

<section class="flower-list">
    <div class="flower-img">
        {% if flower.is_discount %}
            <img src="{{ flower.image.url }}">
            <div class="product-discount"><span>{{ flower.discount.title }}</span></div>
        {% else %}
            <img src="{{ flower.image.url }}">
        {% endif %}
    </div>

    <div class="flower-property">
        <p class="flower-title">{{ flower.title }}</p>

        <div class="feedback-count-rating-mean">
            <span>{{ feedbacks.rating_mean }}</span>
            &#8226; <span>{{ feedbacks.feedback_count }}</span>
        </div>

        <p class="flower-text">{{ flower.text }}</p>

        {% if flower.is_discount %}
            <div class="flower-price">
                <p class="p-price-discount">от {{ flower.calculate_the_price }}₽</p>
                <p class="p-price">{{ flower.price }}₽</p>
            </div>
        {% else %}
            <p class="p-text">от {{ flower.calculate_the_price }}₽</p>
        {% endif %}

        {% if flower.quantity > 0 %}
            <a href="{% url 'cart:add-cart' flower.id %}" class="cart-button">Добавить в корзину</a>
        {% else %}
            <p style="color: rgba(40, 49, 6, 1);">Нет в наличии</p>
        {% endif %}
    </div>
</section>

<section class="carousel">
    <h1 style="font-family:'myFontMirra'; text-align: center;">Вам может понадобиться:</h1>
    <div class="list-assortment">
        {% for assortment in assortments %}
            {% if assortment.product != flower.product %}
                {% if assortment.category.title == 'Универсальный' or assortment.category.title == flower.category.title %}
                    <a  href="{% url 'flowers:flower' slug=assortment.slug %}">
                        <div class="assortment">
                            <img src="{{ assortment.image.url }}" width="150px" height="150px">
                        </div>
                    </a>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
    
    <div class="assortment-control">
        <button class="prev">&#60;</button>
        <button class="next">&#62;</button>
    </div>
</section>
</section>

<section class="feedback-list" style="display: none;">
    <h1 style="font-family:'myFontMirra'; text-align: center;">Отзывы:</h1>
    {% if feedbacks %}
        {% for feedback in feedbacks %}
            <div class="feedback">
                <div class="feedback-info">
                    <div class="info-left">
                        {% if feedback.user.first_name %}
                            <p style="font-size: 12pt;">{{ feedback.user.first_name }}</p>
                        {% else %}
                            <p style="font-size: 12pt;">{{ feedback.user.username }}</p>
                        {% endif %}
                    </div>
                    <div class="info-right">
                        <p>{{ feedback.date_created|date:"d M Y" }}</p>
                        <p>{{ feedback.rating_stars }}</p>
                    </div>
                    <div class="info-center">
                        <p style="margin-top: -10px;">{{ feedback.text }}</p>
                    </div>
                </div>

                <div class="feedback-img">
                    {% if feedback.image1 %}
                        <img src="{{ feedback.image1.url }}" width="100px" height="120px" class="images">
                    {% endif %}

                    {% if feedback.image2 %}
                        <img src="{{ feedback.image2.url }}" width="100px" height="120px" class="images">
                    {% endif %}

                    {% if feedback.image3 %}
                        <img src="{{ feedback.image3.url }}" width="100px" height="120px" class="images">
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h1>Еще нет отзывов</h1>
    {% endif %}
</section>


<!--<button>-->
<!--    <img src="{% static 'icons/add_favorite.png' %}" width="20px" height="20px" id="add-favourite">-->
<!--</button>-->

<!--<button hidden="hidden">-->
<!--    <img src="{% static 'icons/delete_favourites.png' %}" width="20px" height="20px" id="delete-favourite">-->
<!--</button>-->



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="{% static 'js/flowers.js' %}"></script>
{% endblock base_content %}
