{% extends "base.html" %}
{% load static %}
{% block head_title %}
    <link rel="stylesheet" href="{% static 'css/main_page.css' %}" />
    <title>{{ title }}</title>
{% endblock head_title %}


{% block base_content %}

<section class="home">
    <div class="main">
        <div class="catalog">
            <h1 class="main-h1">Галерея зеленых пейзажей</h1>
            <button class="catalog-button"><a href="{% url 'flowers:flowers' %}" class="networks-flowers">Открыть каталог</a></button>
        </div>

        <div class="main-carousel">
            <h3 class="main-carousel-h3">Хиты продаж</h3>

            <div class="main-carousel-assortment">
                {% for favorite in favorites %}
                    <div class="main-assortment">
                        <a href="{% url 'flowers:flower' slug=favorite.flowers.slug %}">
                        <img src="{{favorite.flowers.image.url }}" width="200px" height="250px"></a>
                    </div>
                {% endfor %}
            </div>
        
            <div class="main-assortment-control">
                <button class="main-prev">&#60;</button>
                <button class="main-next">&#62;</button>
            </div>
        </div>
    </div>

    <div class="about-us">
        <h3 class="about-us-h3">Мы про...</h3>
        <div class="about">
            <div class="about-hello">
                <p>Fresh Company - это больше, чем просто магазин комнатных растений. Мы - команда страстных любителей природы, которые хотят поделиться своей любовью к зелени с вами. Мы верим, что растения способны не только украсить ваш дом, но и создать уютную атмосферу, улучшить настроение и даже повысить продуктивность.</p>

                <img src="{% static 'images/about_one.jpg' %}" width="720px" height="350px">
            </div>

            <div class="about-our-plus">
                <img src="{% static 'images/about_two.jpg' %}" width="300px" height="300px">
                <ul class="about-ul">
                    <li>Качество: Мы стремимся предлагать высококачественные растения и услуги.</li>
                    <li>Экологичность: Мы заботимся об окружающей среде и используем экологически чистые материалы и методы.</li>
                    <li>Любовь к растениям: Мы с удовольствием делимся своими знаниями и опытом с вами.</li>
                </ul>
            </div>

            <div class="about-services">
                <ul class="about-ul">
                    <li>Профессионализм: Мы имеем большой опыт в работе с комнатными растениями.</li>
                    <li>Качество: Мы гарантируем вам здоровые и красивые растения.</li>
                    <li>Индивидуальный подход: Мы с удовольствием подберем растения и поможем вам в уходе за ними.</li>
                </ul>

                <img src="{% static 'images/about_three.jpg' %}" width="300px" height="300px">
            </div>
        </div>
    </div>

    <div class="news">
        <h3 class="news-h3">Советы по озеленению</h3>

        <div class="news-list">
            {% for plant in plants_news %}
                <div class="new">
                    <img src="{{ plant.link_image }}" width="200px" height="200px">
                    <p>{{ plant.text }}</p>
                    <button class="news-button"><a href="{{ plant.link_new }}">Подробнее</a></button>
                </div>    
            {% endfor %}  
        </div>
    </div>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="{% static 'js/flowers.js' %}"></script>
{% endblock base_content %}


