{% extends "base.html" %}
{% load static %}
{% block head_title %}
    <link rel="stylesheet" href="{% static 'css/main_page.css' %}" />
    <title>Галерея зеленых пейзажей Fresh Company</title>
{% endblock head_title %}


{% block base_content %}

    <section class="home">
        <div class="start">

        </div>

        <div class="hit">

        </div>

        <div class="novelty">

        </div>

        <div class="catalog">

        </div>

        <div class="sale">

        </div>

        <div class="design">

        </div>

        <div class="other">

        </div>
    </section>

    <section class="line">

    </section>

    <section>

    <ul>
    {% for obj in objects %}
        <li>{{ obj.text }} - {{ obj.link }}</li>
    {% endfor %}
    </ul>
    </section>

{% endblock base_content %}


