<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/main_page.css' %}" />
    <title>Комнатные растения Greenscape Gallery</title>
</head>
<body>
    <nav>
        <div>
            <a>Каталог</a>
            <a>О нас</a>
            <a>Услуги</a>
        </div>

        <div>
            <a>instagram</a>
            <a>youtube</a>
            <a>telegramm</a>
        </div>

        <div>
            <a>Авторизация</a>
        </div>
    </nav>

    <section class="home">
        <div class="start"></div>



        <div class="novelty"></div>


    </section>
</body>
</html>