<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/auth_style.css' %}" />
    <title>{{ title }}</title>
</head>
<body>
<div class="overlay">
        <h2>{{ title }}</h2>
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {% for form in form_auth %}
            {% if form.name == 'username' %}
                <div class="log">
                    <label class="form-img"><img src="{% static 'icons/icon-user-login.png' %}"></label>
                    {{ form }}
                </div>
            {% endif %}
            {% if form.name == 'password' %}
                <div class="pas">
                    <label class="form-img"><img src="{% static 'icons/icon-password.png' %}"></label>
                    {{ form }}
                </div>
            {% endif %}
        {% endfor %}

            <button class="entrance">Войти</button><br>
            <span class="hint">Новый клиент?</span><br>
            <button class="registration">Регистрация</button>
        </form>
</div>

</body>
</html>