{% extends "base.html" %}
{% load static %}

{% block head_title %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/login-register_style.css' %}" />
    <title>Новый пароль</title>
{% endblock head_title %}

{% block base_content %}
<section class="popup">
    <div class="overlay">
    <h2 class="form-title">Новый пароль</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-error">{{ form.non_field_errors }}</div>
                {% for form_reset in form %}
                    {{ form_reset }}
            <div class="form-error">{{ form_reset.errors }}</div>
                {% endfor %}
            <button type="submit" class="save">Сохранить</button>
        </form>
    </div>
</section>

{% endblock base_content %}