{% extends "base.html" %}
{% load static %}

{% block head_title %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/password_change_style.css' %}" />
    <title>{{ title }}</title>
{% endblock head_title %}

{% block base_content %}

<section class="popup">

    <div class="overlay">
        <h2 class="form-title">Пароль успешно изменен</h2>
        <a href="{% url 'profile' %}"><button class="password-change">ОК</button></a>
    </div>

</section>
{% endblock base_content %}