{% extends "base.html" %}
{% load static %}

{% block head_title %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/password_change_style.css' %}" />
    <title>Сброс пароля</title>
{% endblock head_title %}

{% block base_content %}

<section class="popup">
    <div class="overlay">
        <h2 class="form-title">Сброс пароля</h2>
        <p class="p-text">Мы отправили вам по электронной почте инструкции по установке пароля, если у вас есть учетная запись,
        указав указанный вами адрес электронной почты. Вы должны получить их в ближайшее время.
        Если вы не получили электронное письмо, пожалуйста, убедитесь,
        что вы указали адрес, на который указывали при регистрации, и проверьте папку со спамом.</p>

        <a href="{% url 'flowers:main' %}"><button class="password-change">ОК</button></a>
    </div>
</section>

{% endblock base_content %}