{% extends "base.html" %}
{% load static %}

{% block head_title %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/password_change_style.css' %}" />
    <title>{{ title }}</title>
{% endblock head_title %}

{% block base_content %}

<section class="popup">

    <div class="overlay">
        <h2 class="form-title">{{ title }}</h2>
        <form method="post" action="{% url 'password-change' %}">
            {% csrf_token %}
            <div class="form-error">{{ form.non_field_errors }}</div>
            <div class="change">
                {% for form_change in form %}
                    {{ form_change }}
                    <div class="form-error">{{ form_change.errors }}</div>
                {% endfor %}
            </div>
            <button class="password-change" type="submit">Сменить пароль</button>
            <a href="{% url 'profile' %}"><button class="password-change">Выйти</button></a>
        </form>
    </div>

</section>
{% endblock base_content %}