{% extends "base.html" %}
{% load static %}

{% block head_title %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/password_change_style.css' %}" />
    <title>Восстановление пароля</title>
{% endblock head_title %}

{% block base_content %}
<section class="popup">
    <div class="overlay">
        <h2 class="form-title">Восстановление пароля</h2>
        <form method="post" action="{% url 'user:password_reset' %}">
            {% csrf_token %}
            {% for form_reset in form %}
                {{ form_reset }}
                <div class="form-error">{{ form_reset.errors }}</div>
            {% endfor %}
            <button type="submit" class="password-change">Восстановить</button>
        </form>

    </div>
</section>

{% endblock base_content %}