{% extends "base.html" %}
{% load static %}

{% block head_title %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/profile_style.css' %}" />
    <title>{{ title }}</title>
{% endblock head_title %}

{% block base_content %}
<section class="popup">
    <div class="menu_profile">
        <h2>Личный кабинет</h2>
            <ul>
                <li><a class="bt-my-profile">Настройки</a></li>
                <li><a class="bt-my-orders">Мои заказы</a></li>
                <li><a class="bt-my-feedback">Мои отзывы</a></li>
                <li><a class="bt-my-like">Избранное</a></li>
                <li><a class="bt-my-cart">Корзина</a></li>
            </ul>
    </div>

    <div class="overlay">
        <form method="post" action="{% url 'profile' %}" enctype="multipart/form-data">
        {% csrf_token %}

            {% if user.photo %}
            <div class="name-photo">
                <div class="bt-user-change">
                    <img class="user-photo" src="{{ user.photo.url }}">
                    <p class="photo-change">{{ form.photo }}</p>
                </div>
                <h2 class="user-name">{{ user.username }}</h2>
            </div>
            {% else %}
            <div class="name-photo">
                <div class="bt-user-change">
                    <img class="user-photo" src="{{ default_image }}">
                    <p class="photo-change">{{ form.photo }}</p>
                </div>
                <h2 class="user-name">{{ user.username }}</h2>
            </div>
            {% endif %}

        <div class="popup-my-settings">
            <div class="form-grid">
                <div class="form-1">
                    <div class="form-error">{{ form.non_field_errors }}</div>
                    <span>{{ form.username.label }}:</span><br><p>{{ form.username }}</p>
                    <span>{{ form.email.label }}:</span><br><p>{{ form.email }}</p>
                    <span><label>Изменить пароль:</label></span><br><br>
                    <a href="{% url 'password-change' %}"><button type="button" class="p">********</button></a>
                    <div class="form-error">{{ form.errors }}</div>
                </div>

                <div class="form-2">
                    <div class="form-error">{{ form.non_field_errors }}</div>
                    <span>{{ form.first_name.label }}:</span><br><p>{{ form.first_name }}</p>
                    <span>{{ form.last_name.label }}:</span><br><p>{{ form.last_name }}</p>
                    <span>{{ form.date_birth.label }}:</span><br><p>{{ form.date_birth }}</p>
                    <div class="form-error">{{ form.errors }}</div>
                </div>
            </div>
            <button class="save-profile" type="submit">Сохранить</button>
        </div>
        </form>

        <div class="popup-my-orders">
            <h2>Orders</h2>
        </div>

        <div class="popup-my-feedback">
            <h2>Feedback</h2>
        </div>

        <div class="popup-my-like">
            <h2>Like</h2>
        </div>

        <div class="popup-my-cart">
            <h2>Cart</h2>
        </div>

    </div>
</section>


<script src="http://code.jquery.com/jquery-1.6.1.min.js"></script>
<script src="{% static 'js/user.js' %}"></script>

{% endblock base_content %}