{% extends "base.html" %}
{% load static %}

{% block head_title %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/profile_style.css' %}" />
    <title>{{ title }}</title>
{% endblock head_title %}

{% block base_content %}
<section class="popup">
    <div class="menu-profile">
        <div class="menu">
            <ul>
                <li>
                    <a class="bt-my-profile" style="background-color: rgba(202, 208, 183, 0.6);border: 1px solid rgba(114, 121, 88, 1);">
                        Настройки
                    </a>
                </li>
                <li><a href="{% url 'order:order-profile' %}" class="bt-my-orders">Мои покупки</a></li>
                <li><a href="{% url 'feedback:feedback-profile' %}" class="bt-my-feedback">Мои отзывы</a></li>
                <li><a class="bt-my-like">Избранное</a></li>
            </ul>
        </div>
    </div>

    <div class="overlay">
        <form method="post" action="{% url 'user:profile' %}" enctype="multipart/form-data">
        {% csrf_token %}
            {% if user.photo %}
            <div class="name-photo">
                <div class="bt-user-change">
                    <img class="user-photo" src="{{ user.photo.url }}">
                    <p class="photo-change">{{ form.photo }}</p>
                </div>
                <h2 class="user-name">{{ user.username }}</h2>
            </div>
            {% else %}
            <div class="name-photo">
                <div class="bt-user-change">
                    <img class="user-photo" src="{{ default_image }}">
                    <p class="photo-change">{{ form.photo }}</p>
                </div>
                <h2 class="user-name">{{ user.username }}</h2>
            </div>
            {% endif %}

        <div class="settings">
            <div class="form-grid">
                <div class="form-1">
                    <div class="form-error">{{ form.non_field_errors }}</div>
                    <span class="label-form">{{ form.username.label }}:</span><br><p>{{ form.username }}</p>
                    <span class="label-form">{{ form.email.label }}:</span><br><p>{{ form.email }}</p>
                    <span class="label-form"><label>Изменить пароль:</label></span><br><br>
                    <a href="{% url 'user:password-change' %}"><button type="button" class="btn-p">********</button></a>
                    <div class="form-error">{{ form.errors }}</div>
                </div>

                <div class="form-2">
                    <div class="form-error">{{ form.non_field_errors }}</div>
                    <span class="label-form">{{ form.first_name.label }}:</span><br><p>{{ form.first_name }}</p>
                    <span class="label-form">{{ form.last_name.label }}:</span><br><p>{{ form.last_name }}</p>
                    <span class="label-form">{{ form.date_birth.label }}:</span><br><p>{{ form.date_birth }}</p>
                    <div class="form-error">{{ form.errors }}</div>
                </div>
            </div>
            <button class="save-profile" type="submit">Сохранить</button>
        </div>
        </form>
    </div>
</section>


<script src="http://code.jquery.com/jquery-1.6.1.min.js"></script>
<script src="{% static 'js/user.js' %}"></script>
{% endblock base_content %}