{% extends "base.html" %}
{% load static %}

{% block head_title %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/profile_style.css' %}" />
    <title>Мои покупки</title>
{% endblock head_title %}

{% block base_content %}
<section class="popup">
    <div class="menu-profile">
        <div class="menu">
            <ul>
                <li><a href="{% url 'profile' %}" class="bt-my-profile">Настройки</a></li>
                <li>
                    <a class="bt-my-orders" style="background-color: rgba(202, 208, 183, 0.6); border: 1px solid rgba(114, 121, 88, 1);">
                        Мои покупки
                    </a>
                </li>
                <li><a class="bt-my-feedback">Мои отзывы</a></li>
                <li><a class="bt-my-like">Избранное</a></li>
            </ul>
        </div>
    </div>

    <div class="overlay">
            {% if user.photo %}
            <div class="name-photo">
                <div class="bt-user-change">
                    <img class="user-photo" src="{{ user.photo.url }}">
                    <p class="photo-change">{{ form.photo }}</p>
                </div>
                <h2 class="user-name">{{ user.username }}</h2>
            </div>
            {% else %}
            <div class="name-photo">
                <div class="bt-user-change">
                    <img class="user-photo" src="{{ default_image.url }}">
                    <p class="photo-change">{{ form.photo }}</p>
                </div>
                <h2 class="user-name">{{ user.username }}</h2>
            </div>
            {% endif %}

        <div class="orders">
            {% for order in orders %}
                <div class="order">
                    <div class="order-info">
                        <div class="info-left">
                            <p  class="date-p">{{ order.create_order|date:"d M Y" }}</p>
                            <p class="id-p"> Заказ {{ order.id }} {{order.taking }}</p>
                        </div>
                        
                         <div class="info-right">
                            <p class="status-p"> {{ order.status }}</p>
                            <p class="summa-p">{{ order.summa }}₽</p>
                         </div>
                    </div>
                    
                    <div class="order-img">
                        {% if order.cart.count <= 6 %}
                        <div class="order-img-6">
                            {% for cart in order.cart.all %}
                                <div class="order-cart">
                                    <span class="order-cart-quantity">{{ cart.quantity }}</span>
                                    <img src="{{ cart.flowers.image.url }}" width="70px" height="90px">
                                </div>
                            {% endfor %}
                        </div>

                        {% else %}
                        <div class="order-img-7-12-slice-one">
                            {% for cart in order.cart.all|slice:"0:6" %}
                                <div class="order-cart">
                                    <span class="order-cart-quantity">{{ cart.quantity }}</span>
                                    <img src="{{ cart.flowers.image.url }}" width="70px" height="90px">
                                </div>
                            {% endfor %}
                        </div>

                        <div class="order-img-7-12-slice-two" style="display: none;">
                            {% for cart in order.cart.all|slice:"7:" %}
                                <div class="order-cart">
                                    <span class="order-cart-quantity">{{ cart.quantity }}</span>
                                    <img src="{{ cart.flowers.image.url }}" width="70px" height="90px">
                                </div>
                            {% endfor %}
                        </div>
                        <button class="many" style="display: none;">&#9668;</button>
                        <button class="more">&#9658;</button><br>
                        {% endif %}
                    </div>
                    
                    <div class="order-bt">
                        <button class="bt-rating"><a href="#">Оценить товары</a></button><br>
                        {% if order.status != Выполнен %}
                            <button class="bt-cancel"><a href="{% url 'cancel-order' order.id %}">Отменить заказ</a></button>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>

        {% if messages %}
           <div class="messages">
               {% for message in messages %}
                    <span class="massages-text">{{ message }}</span>
                {% endfor %}
           </div>
        {% endif %}

        <nav class="list-pages">
            {% for page in paginator.page_range %}
                <a href="?page={{ page }}">{{ page }}</a>
            {% endfor %}
        </nav>

    </div>
</section>

<script src="http://code.jquery.com/jquery-1.6.1.min.js"></script>
<script src="{% static 'js/user.js' %}"></script>
{% endblock base_content %}